/data/

# chuyenbay
/chuyenbay/HELP.md
/chuyenbay/target/
/chuyenbay/!.mvn/wrapper/maven-wrapper.jar
/chuyenbay/!**/src/main/**/target/
/chuyenbay/!**/src/test/**/target/
/chuyenbay/.apt_generated
/chuyenbay/.classpath
/chuyenbay/.factorypath
/chuyenbay/.project
/chuyenbay/.settings
/chuyenbay/.springBeans
/chuyenbay/.sts4-cache

/chuyenbay/.idea
/chuyenbay/*.iws
/chuyenbay/*.iml
/chuyenbay/*.ipr

/chuyenbay/nbproject/private/
/chuyenbay/nbbuild/
/chuyenbay/dist/
/chuyenbay/nbdist/
/chuyenbay/.nb-gradle/
/chuyenbay/build/
/chuyenbay/!**/src/main/**/build/
/chuyenbay/!**/src/test/**/build/

/chuyenbay/.vscode/

# maybay
/maybay/HELP.md
/maybay/target/
/maybay/!.mvn/wrapper/maven-wrapper.jar
/maybay/!**/src/main/**/target/
/maybay/!**/src/test/**/target/

/maybay/.apt_generated
/maybay/.classpath
/maybay/.factorypath
/maybay/.project
/maybay/.settings
/maybay/.springBeans
/maybay/.sts4-cache

/maybay/.idea
/maybay/*.iws
/maybay/*.iml
/maybay/*.ipr

/maybay/nbproject/private/
/maybay/nbbuild/
/maybay/dist/
/maybay/nbdist/
/maybay/.nb-gradle/
/maybay/build/
/maybay/!**/src/main/**/build/
/maybay/!**/src/test/**/build/

/maybay/.vscode/

# nhanvien_chungnhan
/nhanvien_chungnhan/node_modules/